.percbar{font: normal 9px  "Segoe UI","Hiragino Sans GB","Microsoft YaHei",sans-serif;margin-top:1px;width:100%;height:13px;border-radius:4px;border:1px solid #ddd;color:white;}
.table-condensed-more .percbar{margin-bottom:3px;}
.percbar .bar{float:left;height:13px;}
.percbar .bar-text{float:left;height:13px;margin-top:-13px;line-height:13px;text-align:left;color:white;white-space:nowrap;overflow:show;margin-left:5px;margin-right:5px;}
.percbar .bar-text:last{text-align:right;color:white;}
.percbar .bar:first{border-bottom-left-radius:4px;border-top-left-radius:4px;}
.percbar .bar:last{border-bottom-right-radius:4px;border-top-right-radius:4px;}