.logo-normal {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align : center;
    transition: all 0.3s ease;
}
.logo-collapsed {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align : center;
    transition: all 0.3s ease;
}
.logo-font {
    font-size : 20px;
    color: rgba(170, 228, 255, 0.863) !important;
    &:hover{
        text-decoration: none;
    }
    &:focus{
        text-decoration: none;
    }
    &:visited{
        text-decoration: none;
    }
    &:active{
        text-decoration: none;
    }
}
