
$up_stop_bg_color:   rgba(97, 180, 248, 0.267);
$up_stop_font_color:  rgb(241, 110, 35);

$down_stoploss_bg_color:  rgba(75, 75, 75, 0.78);
$down_stoploss_font_color: rgb(248, 248, 250);
$down_warning_bg_color:   rgba(241, 165, 23, 0.363);
$down_warning_font_color:  rgb(13, 81, 207);
$up_font_color: rgb(241, 110, 35);
$down_font_color:  rgb(47, 170, 10);
$th_bg_color: rgba(230, 230, 230, 0.842);
$th_font_color:rgba(116, 114, 114, 1);

$dark_bg_color:   rgba(229, 226, 226, 0.23);
$dark_font_color:rgba(100, 98, 98, 1);
$light_bg_color: rgb(255, 255, 255);
$light_font_color:  rgba(100, 98, 98, 1);

$hover_bg_color: rgba(194, 226, 53, 0.78);

$header_font_size : 1.25rem;
$content_font_size : 1.2rem;
$row_height : 2.4rem;

.pt_table {
    width: 100%;
    border: 1px solid $dark_bg_color;
    border-radius: 10px;
    border-collapse: collapse;
    font-style: normal "Segoe UI","Hiragino Sans GB","Microsoft YaHei",sans-serif;
    font-size: $content_font_size ;
    text-align: center;
    margin-bottom: 20px;
    thead {
        background:$th_bg_color;
        padding: 1px;
        font-style: bold;
        font-size:  $header_font_size ;
        color: $th_font_color;
    }
    thead>tr>th {
        border-left: 1px solid $dark_bg_color;
        border-right: 1px solid $dark_bg_color;
        height: $row_height;
    }
    
    tbody>tr {
        background: $light_bg_color;
        color: $light_font_color;
    }
    tbody>tr:nth-child(even) {
        background: $dark_bg_color;
        color:$dark_font_color;
    }
    tbody>tr.up_stop {
        background: $up_stop_bg_color !important;
        color:$up_stop_font_color !important;
    }
    tbody>tr.stoploss:hover {
        background: $hover_bg_color !important;
        transition: all 0.3s ease-in-out;
        color:$dark_font_color !important;
        
    }
    tbody>tr.stoploss {
        background: $down_stoploss_bg_color !important;
        color:$down_stoploss_font_color !important;
        //border-bottom: 2px dotted rebeccapurple;
    }
    tbody>tr.stoploss_warn {
        background: $down_warning_bg_color !important;
        color:$down_warning_font_color !important;
    }
    tbody>tr.up {
        color:$up_font_color !important;
    }    
    tbody>tr.down {
        color:$down_font_color !important;
    } 
    tbody>tr:hover{
        background: $hover_bg_color !important;
        transition: all 0.3s ease-in-out;
    }
    tbody>tr>td {
        border-left: 1px solid $dark_bg_color;
        border-right: 1px solid $dark_bg_color;
        height: $row_height;
    }    
    tbody>tr>td.string{
        color: $light_font_color;
    }
    tfoot {
        background:$th_bg_color;
        padding: 1px;
        font-style: bold;
        font-size:  $header_font_size ;
        color: $th_font_color;
    }
    tfoot>tr:hover{
        background: $hover_bg_color !important;
        transition: all 0.3s ease-in-out;
    }    
    tfoot>tr>td {
        border-left: 1px solid $dark_bg_color;
        border-right: 1px solid $dark_bg_color;
        height: $row_height;
    }    
  
    
}